
body {
	color: white;
	background-color: #52b3d9;
	text-align: center;
	margin-top: 50px;
	font-family: 'Indie Flower', cursive;
}

button {
	background-color: white;
	border: none;
	color: #52b3d9;
	padding: 15px 32px;
}

a {
	color: white;
}

button:hover,
div:hover {
	cursor: pointer;
}

div {
	font-family: monospace;
	color: rgba(255,255,255,0.6);
}

.underline {
	text-decoration: underline;
}

ul {
	list-style-type: none;
	padding: 0;
}
